<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    </head>
    <body>
        <div id="landing">
            <h2>Data Visualizer and ML</h2>
            <button id="proceed"><h2>Proceed</h2></button>
        </div>

        <div id="formContainer">
            <form id="form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
                
                <div class="file-upload">
                    <div class="file-upload-select">
                        <div class="file-select-button" >Choose File(.xlsx only)</div>
                    <div class="file-select-name">No file chosen...</div> 
                    <input type="file" name="file-upload-input" id="file-upload-input">
                    </div>
                </div>

                <div class="col-3">
                    <input class="effect-1" id="uploadNumber" name="target", type="text" placeholder="TARGET COLUMN NAME"/>
                    <span class="focus-border"></span>
                </div>
                
                <div class="col-3">
                    <input class="effect-1" id="uploadSource" name="source", type="text" placeholder="INPUT COLUMNS TO SELECT(comma separate)"/>
                    <span class="focus-border"></span>
                </div>
                <label class="switch">
                    <input id="isSelect" name="isSelect" type="checkbox" checked>
                    <span class="slider round"></span>
                </label>

                <div class="select">
                    <select id="dataType" name="dataType">
                    <option selected disabled>Data type</option>
                    <option value="text">Text</option>
                    <option value="numeric">Numeric</option>
                    </select>
                </div>

                <br>
                
                <div><button type="submit">Submit</button></div>
            </form>
        </div>


        <script src="{{ url_for('static', filename='index.js') }}"></script>
    </body>
</html>