<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='visual.css') }}">
    </head>
    <body>
        <div>
            <details>
                <summary>Shape (rows,columns)</summary>
                <div class="content"> {{data.shape}}</div>
            </details>
        </div>
        <div>
            <details>
                <summary>No of Unique categories</summary>
                <div class="content"> {{data.countUniqueCategories}}</div>
            </details>
        </div>

        <div>
            <details>
                <summary>Class frequency</summary>
                <div class="content">
                    {{data.classFrequency | safe}}
                </div>
            </details>
        </div>
        <div>
            <details>
                <summary>
                Most common words (removed stop words)
                </summary>
                {% for tsc in data.commonWords %}
                <div>
                    <img src="data:image/png;base64, {{tsc}}">
                </div>
                {% endfor %}
            </details>
        </div>
        <div>
            <details>
                <summary>
                ML algorithms training results
                </summary>
                {{data.f1scoreandaccuracyTable[1] | safe}}
            </details>
        </div>

        <div>
            <details>
                <summary>
                F1 scores
                </summary>
                {% for table in data.f1scoreandaccuracyTable[0] %}
                <div>
                    {{table | safe}}
                </div>
                {% endfor %}
            </details>
        </div>
    </body>
</html>